body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #1818A9;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    opacity: 0.7;
}

li {
    list-style: none;
}

.header {
    color: #FFFFFF;
    background-color: #1818A9;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 40px;
    letter-spacing: -2.5px;
    text-align: center;
}

.menu {
    display: flex;
    cursor: pointer;
    font-size: 15px;
    gap: 1em;
}

.menu li:hover {
    opacity: 0.7;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* Checkbox */
input[type=checkbox] {
    display: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.flex {
    display: flex;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.ml-20 {
    margin-left: 20px;
}

.item-blocks, .img-bg {
    height: 240px;
    width: 305px;
    background-color: #EEEEEE;
}

.img-news {
    height: 240px;
    width: 305px;
}

.category {
    font-weight: bold;
    color: #1818A9;
}

.news-title {
    width: 315px;
    font-weight: 600;
    font-size: 23px;
}

.time {
    font-size: 12px;
    color: #808080;
}

.btn-load-more {
    height: 35px;
    width: 150px;
    color: #FFFFFF;
    background-color: #1818A9;
    border-color: #1818A9;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.btn-load-more:hover {
    opacity: 0.7;
}

.footer {
    background-color: #4E4B4B;
    color: #C0C0C0;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 992px), (max-width: 768px) {

    .menu {
        display: none;
        position: relative;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 20px;
    }

    .menu li:hover {
        opacity: 0.7;
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .content {
        display: block !important;
        margin-bottom: 25px;
    }

    .blocks {
        margin-top: 25px;
    }

    .footer {
        display: block !important;
    }

    .copyright {
        font-size: 10px;
        left: 15px
    }

    .by-wordpress {
        font-size: 10px;
        left: 40px;
    }
}

@media (max-width: 665px) {

    .by-wordpress {
        font-size: 10px;
        left: 40px;
    }

    .copyright {
        font-size: 10px;
        left: 15px
    }

    .footer {
        display: block !important;
    }

    .content {
        display: block !important;
        margin-bottom: 25px;
    }

    .blocks {
        margin-top: 25px;
    }

    .item-news {
        display: block !important;
    }

    .info-news {
        margin-left: 0;
        margin-top: 10px;
    }
}
